{% extends 'usuarios/base.html' %}
{% block conteudo %}
<h1> Usuários cafastrados: </h1>
<div class="container">
    <table class="table table-bordered table-stiped">
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>idade</th>      
        </tr>
            {% for usuario in usuarios  %}
        <tr>
        <td>{{usuario.id_usuario}}</td>
        <td>{{usuario.nome}}</td>
        <td>{{usuario.idade}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
    
{% endblock %}